<div class="cards">
    <div class="cards">
        <form class='searchForm' [formGroup]="newCard" (ngSubmit)="onSubmit()">
            <div id="border">
                <label id="set">Card Name</label>
                <input id="cardInput" type="text" class="form-control" formControlName='cardName'
                    placeholder="Search Card...">
                <br>
                <label id="set">Card Set</label>
                <select class="form-control" id="cardInput" formControlName="set">
                    <option>Select a set</option>
                    <option *ngFor='let cardSet of setData.data'>
                        {{cardSet.name}}
                    </option>
                </select>
                <br>
                <label id="set">Card Type</label>
                <br>
                <input type="checkbox" formControlName='white' value="W">
                <label id="White_Mana"><img src="../../../assets/images/White_Mana.png"></label>
                <input type="checkbox" formControlName='blue'>
                <label id="Blue_Mana"><img src="../../../assets/images/Blue_Mana.png"></label>
                <input type="checkbox" formControlName='black'>
                <label id="Black_Mana"><img src="../../../assets/images/Black_Mana.png"></label>
                <input type="checkbox" formControlName='red'>
                <label id="Red_Mana"><img src="../../../assets/images/Red_Mana.png"></label>
                <input type="checkbox" formControlName='green'><label id="Green_Mana">
                    <img src="../../../assets/images/Green_Mana.png"></label>
                <br>
                <button class="btn btn-dark" type="submit">Search</button>
            </div>
        </form>
    </div>
    <ngx-spinner class='la-ball-running-dots' bdColor="rgba(51,51,51,0.8)" size="large" color="rgba(187, 53, 0, 0.8)"
        type="ball-elastic-dots">
        <p style="font-size: 20px; color: white">Mastering the Card Search Process...</p>
    </ngx-spinner>
    <div class="container">
        <div class="row text-center text-lg-left">
            <div *ngFor=" let card of cards | paginate: { itemsPerPage: 20, currentPage: p}"
                class="col-lg-3 col-md-4 col-6 cardOutput">
                <p id='cardName'>{{card.name}}</p>
                <p id='cardName'>Price</p>
                <p id='cardName'>Inventory</p>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img id="image" class="img-fluid img-thumbnail" src="{{card.image_uris.normal}}">
                        </div>
                        <div class="flip-box-back">
                            <p style="font-size:18px">Set Name: {{card.set_name}}</p>
                            <p style="font-size:18px">Set Code: {{card.set}}</p>
                            <p id='description'>Description: {{card.oracle_text}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="p = $event" autoHide=true></pagination-controls>
    <!-- <div class="container">
        <div class="row text-center text-lg-left">
            <div *ngFor=" let card of cards" class="col-lg-3 col-md-4 col-6">
                <p>{{card.name }}</p>
                <p>{{card.set}}</p>
                <div class="zoom">
                    <img id="image" class="img-fluid img-thumbnail" src="{{card.image_uris.normal}}" alt="Image not avalible">
                </div>
            </div>
        </div>
    </div> -->
    <!-- <table id="resultsTable" *ngIf="allDataFetched">
        <tr>
            <th>Card Name</th>
            <th>Card Category</th>
            <th>Card Price</th>
        </tr>
        <tr *ngFor="let x of JSON.parse(sessionStorage.getItem('cardInfo')) | filter: {card:searchtext} | paginate: { itemsPerPage: 20, currentPage: p}">
            <td>{{x.card}}</td>
            <td>{{x.category}}</td>
            <td>{{x.msrp}}</td>
        </tr>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table> -->
</div>