<div class="search">
    <div id="dFilter">
        <h3 id="wFilter">Description Filter</h3>
        <label id="wFilter">Filter by card name, type and/or text: </label>
        <br>
        <br>
        <input id="bFilter" [(ngModel)]="searchText" placeholder="Search card...">
    </div>
    <div id="tFilter">
        <h3>Type Filter</h3>
        <label>Card Type: </label>
        <br>
        <br>
        <input type="checkbox"><label id="White_Mana"><img src="../../../assets/images/White_Mana.png"></label>
        <input type="checkbox"><label id="Blue_Mana"><img src="../../../assets/images/Blue_Mana.png"></label>
        <input type="checkbox"><label id="Black_Mana"><img src="../../../assets/images/Black_Mana.png"></label>
        <input type="checkbox"><label id="Red_Mana"><img src="../../../assets/images/Red_Mana.png"></label>
        <input type="checkbox"><label id="Green_Mana"><img src="../../../assets/images/Green_Mana.png"></label>
    </div>
</div>
<div class="cards">
    <form [formGroup]="newCard" (ngSubmit)="onSubmit()">
    <h2>Search Cards</h2>
        <div class="form-group">
            <input type="text" class="form-control" formControlName='cardName' placeholder="Search card...">
            <button type="submit" >Search</button>
            <h1>{{cardName}}</h1>
        </div>
    </form>
</div>

<!-- <table id="myTable">
    <tr class="header">
    <th>Card Name</th>
    <th>Card Category</th>
    <th>Card Price</th>
    </tr>
    <tr *ngFor="let x of cardInfo | filter: {card:searchtext}">
      <td>{{x.card}}</td>
      <td>{{x.category}}</td>
      <td>{{x.msrp}}</td>
    </tr>
  </table> -->