#dFilter{
    margin-right: 618px;
    margin-left: 200px;
}
#tFilter{
    margin: -118px 0px 0px 784px;
}
#bFilter{
    width: 400px;
    margin-left: 150px;
}
#wFilter{
    margin-left: 150px;
}

.cards{
    width: 20%;
    margin-left: 19%
}