<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Sword & Board</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a class="headerButton" mat-button routerLink="/customer-search" routerLinkActive="mat-accent">Customers</a>
    </li>    
    <li>
      <a class="headerButton" mat-button routerLink="/sign-up" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li>
      <a class="headerButton" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a class="headerButton" mat-button routerLink="/admin" routerLinkActive="mat-accent">Admin</a>
    </li>
    <li class="headerButton">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
