<h1>Change Password</h1>
<form [formGroup] ="passwordForm" (ngSubmit) = "changePassword()">
  <h2>Change Password</h2>
  <div class="form-group">
    <input type="text" class="form-control" formControlName='current_pass' #first_name placeholder="current password" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName='new_pass' #first_name placeholder="new password" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName='confirm_pass' #first_name placeholder="confirm password" >
  </div>
</form>