<h1>{{title}}</h1>  
<form class='adminForm'>
    <div class='tools'>
        <input class='check' type="checkbox" checked>
        <label class='lblFeature'>Enable Card Pricing System</label>
        <label class='lblDesc'>Display the prices</label>
    </div>
    <div class='tools'>
        <input class='check' type="checkbox" checked>
        <label class='lblFeature'>Enable Card Stock System</label>
        <label class='lblDesc'>Display stock of the cards</label>
    </div>
    <div class='tools'>
        <input class='check' type="checkbox" checked>
        <label class='lblFeature'>Enable Store Credit System</label>
        <label class='lblDesc'>Allow Customer Credit Feature</label>
    </div>        
    <div class='tools'>
        <input class='check' type="checkbox" checked>
        <label class='lblFeature'>Enable Customer Login System</label>
        <label class='lblDesc'>Allow Customer Login/Registration</label>
    </div>
    <div >
        <input class='enableCommit confirm' type="submit" value="Confirm Changes to the System?"> 
    </div>
</form>
<br>
<h1 id='ct'>Customer Tools</h1>
<form class='adminForm'>
        <div>
            <button class='toolsOpt' type="button" *ngIf="!showAdd" (click)=showAddCustomer(true)>Add Customer</button>
            <button class='toolsOpt' type="button" [hidden]="!showAdd" (click)=showAddCustomer(false)>Minimize Adding Customer</button>
        </div>
        <div>
            <button class='toolsOpt' type="button" *ngIf="!showCustomer"(click)=showSearchCustomer(true)>Search Customer</button>
            <button class='toolsOpt' type="button" [hidden]="!showCustomer"(click)=showSearchCustomer(false)>Minimize Searching Customer</button>
        </div>
    </form>
<div id="showComponents">
    <app-search-customers [hidden]='!showCustomer'></app-search-customers>
    <app-add-customer [hidden]='!showAdd'></app-add-customer>
</div>

