h1{
    text-align:center;
}
.adminForm{
    margin-left: 259.6px;
    margin-right: 259.6px;
    display: grid;
    grid-gap: 10% 10%;
    grid-template-columns: 45% 45%;
    padding: 10px;
    text-align: center;
}
.confirm{
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    min-width: 140px;
}
.confirm:hover{
    background-color: rgb(187, 53, 0);
    transition: 0.5s;
    color: white;
    text-decoration: underline;
}
.tools{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
}
.lblDesc{
    font-size:80%;
}
.enableCommit{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0% 76% 0% 81.5%;
}
.toolsOpt{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0% 34% 0% 34%;
    font-size: 23px;
}
#ct{
    text-align:center;
    margin-top: 6%;
}