#navbtn{
    margin-left: 125px;
    display: inline-block;
    padding: 0 calc(1px + 10px);
    color: #FFFFFF;
    font: normal normal  20px/1.4em futura-lt-w01-light,sans-serif;
    transition: color 0.4s ease 0s;
    text-decoration: none
}
#navlogin{
    margin-left: 245px;
    display: inline-block;
    padding: 0 calc(1px + 10px);
    color: #FFFFFF;
    font: normal normal  20px/1.4em futura-lt-w01-light,sans-serif;
    transition: color 0.4s ease 0s;
    text-decoration: none
}
#sbbtn{
    text-decoration: none;
    color: initial;
    display: inline-block;
    color: #FFFFFF;
    font: normal normal  20px/1.4em futura-lt-w01-light,sans-serif;
    transition: color 0.4s ease 0s;
}