
    <mat-toolbar  style="background-color: rgba(0, 0, 0, 0.9);">
      <span>
        <ul class="borderYtoX" style='margin-left:30px'><li><a class="headerButton " mat-button (click)="clickMethod()" id="siteLink" title='Go Back'>Sword & Board</a></li></ul>
          <div class="dropdown">
              <img title='Change Background' src='../assets/images/bgIcon.jpg' width='20px' height='10px'>
              <div class="dropdown-content">
              <button (click)="bg4()"><img id='bg' src='../assets/images/backgrounds/bg3-invert.jpg' width='100px' height='100px'></button>
              <button (click)="bg1()"><img id='bg' src='../assets/images/backgrounds/bg.jpg' width='100px' height='100px'></button>
              <button (click)="bg2()"><img id='bg' src='../assets/images/backgrounds/bg2.jpg' width='100px' height='100px'></button>
              <!--<button (click)="bg3()"><img id='bg' src='../assets/images/backgrounds/bg5.jpg' width='100px' height='100px'></button>-->
              
              <button (click)="bg5()"><img id='bg' src='../assets/images/backgrounds/bg6-invert.jpg' width='100px' height='100px'></button>
              </div>
            </div>
      </span>
      
      <ul class="container2 borderYtoX" > 
        <li >
          <a *ngIf="userIsAuthenticated" class="headerButton" mat-button routerLink="/customer" routerLinkActive="mat-accent" title='My Info'>Profile</a>
          <a *ngIf="!userIsAuthenticated" class="headerButton" mat-button routerLink="/admin" routerLinkActive="mat-accent" title='System Tools'>Tools</a>
        </li>
      </ul>
      <!--<span class="spacer" *ngIf="!userIsAuthenticated"></span>-->
      <ul class="container borderYtoX" > 
        <li>
          <a class="headerButton" mat-button routerLink="/" routerLinkActive="mat-accent" title='MTG Search'>Card Search</a>
        </li>
        <li>
          <a *ngIf="userIsAuthenticated" routerLink="/" class="headerButton" mat-button (click)="onLogout()" title='Logout'><img width='25px' height='25px' src='../assets/images/adminLogout.png'></a>
          <a *ngIf="!userIsAuthenticated" class="headerButton" mat-button routerLink="/login" routerLinkActive="mat-accent" title='Customer Login'><img width='25px' height='25px' src='../assets/images/customerLogin.png'></a>
        </li>
        <li>
          <a *ngIf="userIsAuthenticated" routerLink="/" class="headerButton" mat-button (click)="onLogout()" title='Logout'><img width='25px' height='25px' src='../assets/images/adminLogout.png'></a>
          <a *ngIf="!userIsAuthenticated" class="headerButton" mat-button routerLink="/login" routerLinkActive="mat-accent" title='Admin Login'><img width='25px' height='25px' src='../assets/images/adminIcon.png'></a>
          </li>
      </ul>
    </mat-toolbar>
    <div>
      <a  routerLink="/" ><img id="sbLogo" alt="s&b logo" data-type="image" src="../assets/images/snblogowhite.png" ></a>
    </div>
    
    <router-outlet></router-outlet>
           
   