<h1 style="text-align:center;">Items List</h1>
<div id="table100">
<table id="myTable">
    <tr class="header">
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
    <tr *ngFor="let item of items">
        <td align="center">
            <button class='controlbtn btn-dark' (click)="removeItem(item.id)">Remove</button>
        </td>
        <td>{{item.name}}</td>
        <td>CAD${{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>CAD${{item.price * item.quantity}}</td>
    </tr>
    <tr class="header">
            <td colspan="4" style='text-align:right'>Sub Total:</td>
            <td >CAD${{subtotal}}</td>
    </tr>
    <tr class="header">
            <td colspan="4" style='text-align:right'>Tax:</td>
            <td >CAD${{tax}}</td>
    </tr>
    <tr class="header">
        <td colspan="4" style='text-align: right'>Total:</td>
        <td >CAD${{total}}</td>
    </tr>
    <tr class="header">
        <td colspan='5' style='text-align: center'>Please Proceed to the Store to Gather Your Desired Items</td>
    </tr>
</table>

</div>