#table100{
    width: auto;
    height: 100%;
  }
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 25px; /* Increase font-size */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
    text-align: center;
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
    background-color: rgba(127, 53, 14,0.8)
  }
  
  #myTable tr.header{
    /* Add a grey background color to the table header and on hover */
    background-color: rgba(0,0,0,0.8);
  }
  .controlbtn{
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    min-width: 140px;
    outline: none !important;
  }