<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="signup-form">
    <form *ngIf="settings[0].Login" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<h2 style="padding-top: 10px">Register</h2>
        <div class="form-group" style="margin-left: 17px; width: 92%;">
            <input type="text" class="form-control" formControlName='first_name' placeholder="First Name..." required>
        </div>
        <div class="form-group" style="margin-left: 17px; width: 92%;">
        	<input type="text" class="form-control" formControlName='last_name' placeholder="Last Name..." required>
        </div>
        <div class="form-group" style="margin-left: 17px; width: 92%;">
            <input type="email" class="form-control" formControlName='email' placeholder="Email Address..." required email>
        </div>
		<div class="form-group" style="margin-left: 17px; width: 92%;">
            <input type="password" class="form-control" formControlName='password' placeholder="Password..." required minlength="5" maxlength="8">
        </div>
		<div class="form-group" style="margin-left: 17px; width: 92%;">
            <input type="password" class="form-control" formControlName='confirm_password' placeholder="Confirm Password..." required minlength="5" maxlength="8">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox"> I accept the <a href="">Terms of Use</a> &amp; <a href="">Privacy Policy</a></label>
        </div>
		<div class="form-group">
            <button type="submit"  style="margin-bottom: 17px;" class="btn btn-primary btn-lg" [disabled]="!profileForm.valid">Sign Up</button>
        </div>
    </form>
    <div class="success"*ngIf = "showSuccessMessage">Sign up was successfull!</div>
    <div class="error" *ngIf = "showErrorMessage">Error, try again or constact customer service!</div>
    <div class="error" *ngIf = "showErrorMessagePassword">Password do not match!</div>
    <div class="error" *ngIf = "showErrorMessageEmail">Email already in use, pick diffrent email.</div>
    <div class="error" *ngIf = "signupDisabled">Signup Process disabled, please contact customer service!.</div>
</div>
