table {
  width: 100%;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 94%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.ng-container {
  flex: 0 0 100px;
  white-space: unset;
}

th{height:50px;font-size: 16px;font-weight: 900; background-color: rgb(229, 196, 250)}
#searchField{font-size: 20px;text-align: center;color:rgb(69, 9, 180);}
tr:hover {background-color: #f5f5f5;}

table {
  width: 100%;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.ng-container {
  flex: 0 0 100px;
  white-space: unset;
}

.ng-container:hover{
  background-color: aquamarine
}

th{height:50px;font-size: 16px;font-weight: 900; background-color: rgb(63,62,62)}

tr:hover {background-color: #e6dbda;}

button{
  padding: 0 10px 0 10px;
  width: 100px;
}
#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: black
}

#table100{
  width: auto;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden
}

#form{
  margin-left: 29%
}

#messageSuccess{
  color: green
}
