<div class="customer">
    <div id="cNameImage">
        <h2 style="text-align: center;">"Customer Name"</h2>
        <img src="../../../assets/images/CustomerImage.jpg" alt="Profile Picture">
    </div>

    <div id="cInfo">
        <h2>Information</h2>
            <form id="cInfoForm">
                <label >Name: </label><label >Magic Customer</label><br>
                <label >Address: </label><input type="text" ><br>
                <label >Email: </label><input type="email" ><br>
                <label >Customer Since: </label><label >January 8, 2018</label>
            </form>
        </div>
    <div id="cCredit">
        <h2>Credit</h2>
        <table id="cTable">
            <tr>
                <td>Current Credit</td>
                <td>As of..</td>
            </tr>
            <tr>
                <td>$45.23</td>
                <td>02/05/18</td>
            </tr>
            <tr>
                <td>$45.23</td>
                <td>02/05/18</td>
            </tr>
            <tr>
                <td>$45.23</td>
                <td>02/05/18</td>
            </tr>
            <tr>
                <td>$45.23</td>
                <td>02/05/18</td>
            </tr>
        </table>
        <br>
        <label>Notes:</label>
        <br>
        <label>dfhbdbdfbdzf bdfbdf bdfabbraegr eavr everqv reqgvq vqervqervwevew jvbewjvkjwev vek vkje vjkew kjv ekv wekvkjwe vkjwe vkjwe vjke jck ejc ewkv ewkjcv ej cje vhjre vkje vcjlwe jvkwe jv wke</label>
    </div>
    <div id="cOrders">
        <h2>Order History</h2>
            <table id="cTable">
                <tr>
                    <td>Current Credit</td>
                    <td>As of..</td>
                </tr>
                <tr>
                    <td>$45.23</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>$45.23</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>$45.23</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>$45.23</td>
                    <td>02/05/18</td>
                </tr>
            </table>
    </div>
</div>
