img{
    height: 284px;
    width: 300px;
    opacity: 0.4;
}
.customer{
    text-align:center;

}
#cCredit, #cOrders, #cTable{
    margin-left: auto;
    margin-right: auto;
}
#cCredit{
    margin: 0 230px 0 230px;
}
