
h1, h2{
    text-align: center;
}
.customer{
    margin-left: 292.6px;
    margin-right: 259.6px;
    display: grid;
    grid-gap: 2% 2%;
    grid-template-columns: 45% 45%;
    padding: 10px;
    color: white;
}
#cInfo{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}
#cInfo td{
    padding: 4% 0% 4% 0%;
}
#cCredit{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align:center;
}
#cOrders{
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align:center;
}
#nHeader{
    padding-left: 35%;
    text-align:center;
}
#cInfoTable,#cInfoTable label {
    font-size: 80%;
    font-weight:900;
}
#cTable {
    font-size: 80%;
    font-weight:900;
}
#cTable td{
    width:20%;
}
