<h1 *ngIf="customerLoaded">{{customer.first_name + " " + customer.last_name}}'s</h1>
<h1>Profile</h1>


   <div id="cInfo">
        <h2 id="header2">Information</h2>
        <form id="cInfoForm">
            <table id="cInfoTable">
                <tr>
                    <td>Name:</td>
                    <td><label  *ngIf="customerLoaded">{{customer.first_name + " " + customer.last_name}}</label></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><label  *ngIf="customerLoaded">{{customer.email}}</label></td>
                </tr>
                <tr>
                    <td>Joined:</td>
                    <td><label  *ngIf="customerLoaded">{{customer.time}}</label></td>
                </tr>
            </table>

        </form>
    </div> 
<div class="customer">
    <div id="cCredit" *ngIf='settings[0].Credit'>
        <h2 id="header">Credit</h2>
        <table id="cTable">
            <tr>
                <td>Current Credit</td>
                <td>As of ...</td>
            </tr>
            <tr>
                <td>${{customer.credit}}</td>
                <td>{{this.now}}</td>
            </tr>
        </table>
        <h2> Credit History</h2>
        <table>
            <tr>
                <td>Date</td>
                <td>Credit</td>
            </tr>
            <tr *ngFor= "let data of history">
                <td>{{data.time}}</td>
                <td>{{data.credit}}</td>
            </tr>
        </table>
        <h2>Notes:</h2>
        <table>
            <tr>
                <td>Date</td>
                <td>Note</td>
            </tr>
            <tr *ngFor= "let data of history">
                <td>{{data.time}}</td>
                <td>{{data.notes}}</td>
            </tr>
        </table>
        <p></p>
    </div>

    <div id="cOrders">
            <h2 id="header">Order History</h2>
            <table id="cTable">
                <tr>
                    <td>Order #</td>
                    <td>Date</td>
                </tr>
                <tr>
                    <td>sb12345</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>sb67890</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>sb95175</td>
                    <td>02/05/18</td>
                </tr>
                <tr>
                    <td>sb84260</td>
                    <td>02/05/18</td>
                </tr>
                    
            </table>
            <h2>Notes:</h2>
            <p></p>
        </div>
</div>