<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="signup-form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<h2>Sign Up</h2>
        <div class="form-group">
        	<input type="text" class="form-control" formControlName='first_name' placeholder="First Name" required="required">
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" formControlName='last_name' placeholder="Last Name" required="required">
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" formControlName='email' placeholder="Email Address" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" formControlName='password' placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" formControlName='confirm_password' placeholder="Confirm Password" required="required">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" formControlName='agree' required="required"> I accept the <a href="">Terms of Use</a> &amp; <a href="">Privacy Policy</a></label>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!profileForm.valid">Sign Up</button>
        </div>
    </form>
    <div class="success" *ngIf = "showSuccessMessage">Sign up was successfull!</div>
    <div class="error" *ngIf = "showErrorMessage">Error, try again or constact customer service!</div>
</div>       