.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e6e6e6;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    width: 425px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    color:white;
}
.signup-form h2 {
    color: white;
}
.signup-form form {
    margin-bottom: 15px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    min-width: 140px;
    outline: none !important;
}
.signup-form a {
    color: darkslategray;
    text-decoration: none;
}	
.success{
    font-size: 20px;
    color:green;
}
.error{
    font-size: 20px;
    color:red;
}